<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <title>Fichier utilisateur</title>
</head>
<body>
            <div class="alert alert-success"> Bienvenue Abdoul</div>
            <h1>Liste des Utilisateurs</h1>

            <div class="container">
            <table class="table table-striped table-light">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenoms</th>
                </tr>
                </thead>
                <tbody>
                {% for personne in  Users %}

                <tr>

                    <td>{{ personne.nomuser }}</td>
                    <td>{{ personne.prenoms }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
</html>